



.formAbout {
    width: 100%;
    background-color: white;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black
}

.buttonForm {
    color: black;
    border: none;
    height: 35px;
    width: 75%;
    background: rgb(15, 235, 209);
    border-radius: 6px;
}

.buttonForm:hover {
    background: rgb(9, 248, 220);
    transition: 0.5s ;
    transform: scale(1.05);
}


.containerConnect {
    background-color: white;
    height: 225px;
    width: 350px;
    text-align: center;
    margin: auto; /* Center horizontally */
    margin-top: 40px;    
    }


.containerConnectInscription {
    background-color: white;
    height: 300px;
    width: 350px;
    text-align: center;
    margin: auto; /* Center horizontally */
    margin-top: 40px;    
}



.hyperlink {
    color: black;
}


.formContainer {

height: 400px;
align-items: center;
justify-content: center;
display: flex;

}



.formAboutMsg::-webkit-scrollbar{
    width: 0px;
}   






.rowTxt {

    background-color:whitesmoke;
}





.containerConnectForm {
    padding-top: 40px;
}







formTitle {
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
}


.rowTxt, .connectRow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.connectRow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    formTitle {
        font-size: 18px;
        padding: 25px;
    }

}