

.navContainer {
    border: 5px solid whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
    position: sticky;
    top: 115px;
}

.listNav {

}

.list {
    list-style-type: none;

}

.mainNavButton {
    height: 30px;
    width: 250px;
    border: none;    
    background-color: rgb(243, 235, 235);
    font-weight: bold;

    padding: 5px;
    margin: 2px;
    border-radius: 6px;
    
}

.mainNavButton:disabled {
    text-decoration: none;
    color: inherit;
}





.secondNavButton {
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    padding: 5px;
    margin: 2px;
}

.secondNavButton:hover {
    color: rgb(134, 133, 133);
}




.secondNavButton:hover {

}








