.colorRed {
    background-color: red;
}

.colorYellow {
    background-color: yellow;
}


.colorBlack {
    background-color: black;
}

.colorGreen {
    background-color: green;
}

.colorBlue {
    background-color: blue;
}